<nav class="navbar navbar-expand-sm navbar-dark bg-info">
  <div class="container-fluid">
    <!-- brand -->
    <a class="navbar-brand">Konverge.AI</a>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            routerLinkActive="active"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="service" routerLinkActive="active"
            >Services</a
          >
        </li>

        <!-- dropdown  -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="courses"
            routerLinkActive="active"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="java14"
                routerLinkActive="active"
                href="#"
                >Java14</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="angular"
                routerLinkActive="active"
                href="#"
                >Angular10</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="nodejs"
                routerLinkActive="active"
                href="#"
                >NodeJS</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="reactjs"
                routerLinkActive="active"
                href="#"
                >ReactJS</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="outsystem"
                routerLinkActive="active"
                href="#"
                >outsystems</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- this tag is mandatory for work with single page application -->
<div class="container">
  <router-outlet></router-outlet>
</div>
